<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dummy.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
  </head>

  <body>
    <!--Header-->
    <%- include('./ejs-partials/header') %>
    <!--Header-->

    <!-- inner banner -->
    <%- include('./ejs-partials/breadcumbs',{path:"About"}) %>
    <!-- //inner banner -->
    <section class="w3l-about py-5" id="about">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
          <div class="col-lg-6 section-width pe-xl-5 pt-lg-4">
            <h2 class="title-style">
              About <span>SIDDA Musical Acadamy</span>
            </h2>
            <p class="mt-4">
              At Sidda Musical Academy, we are passionate about nurturing
              musical talent and providing a platform for individuals to explore
              their creativity and express themselves through music. Founded
              with a vision to inspire and empower aspiring musicians, our
              academy offers comprehensive training in a variety of musical
              instruments including guitar, drum, electric pad, violin, and
              piano.
            </p>
          </div>
          <div class="col-lg-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
            <div class="position-relative img-border">
              <img
                src="/images/hero_section/about.png"
                class="img-fluid radius-image"
                alt="video-popup"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="whatsapp&callbutton">
      <a
        href="https://wa.me/9618696630"
        target="_blank"
        class="whatsapp-button"
      >
        <img
          src="/images/Digital_Stacked_Green.png"
          alt="WhatsApp"
          width="50px"
        />
      </a>
    </div>
    <!-- footer -->
    <%- include('./ejs-partials/footer') %>
    <!-- //footer -->

    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
