<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/css/style-starter.css" />
  </head>

  <body>
    <!-- top header -->
    <%- include('./ejs-partials/top-header') %>
    <!-- //top header -->
    <!-- header -->
    <header id="site-header" class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="index.html">
            <!-- <i class="fas fa-music me-1"></i>Sidda Musical Acadamy -->
            <img src="/images/logo/Logo.png" alt="Logo" style="height: 50px" />
            <span style="color: #9b3b41">SIDDA</span>
            <span style="color: #fbe4a2">Musical Academy</span>
          </a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/classes">Classes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
          </div>
          <!-- toggle switch for light and dark theme -->
          <!-- <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div> -->
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
    <!-- //header -->

    <!-- banner section -->
    <%- include('./ejs-partials/breadcumbs', {path:"Classes"}) %>
    <!-- //about section -->

    <!-- classes section -->
    <div class="w3l-grids-block-5 classes-bg-cont py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-style text-center mb-sm-5 mb-4">
          Discover the Music <span>Classes</span>
        </h3>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="blog-card-single">
              <div class="grids5-info position-relative">
                <img src="/images/c1.jpg" alt="" class="img-fluid" />
              </div>
              <div class="content-main-top">
                <div class="content-top mb-4 mt-3">
                  <!-- <ul
                    class="list-unstyled d-flex align-items-center justify-content-between"
                  >
                    <li><i class="fas fa-music"></i>Music</li>
                    <li><i class="fas fa-calendar-alt"></i> 15 Days</li>
                  </ul> -->
                </div>
                <h4><a href="#">Piano Classes</a></h4>
                <p>
                  Master the piano through comprehensive lessons tailored to
                  individual learning styles, covering technique, theory, and
                  repertoire
                </p>
                <div
                  class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4"
                >
                  <ul class="rating-list">
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <a class="btn btn-style" href="/contact">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
            <div class="blog-card-single">
              <div class="grids5-info position-relative">
                <img src="/images/c2.jpg" alt="" class="img-fluid" />
              </div>
              <div class="content-main-top">
                <div class="content-top mb-4 mt-3">
                  <!-- <ul
                    class="list-unstyled d-flex align-items-center justify-content-between"
                  >
                    <li><i class="fas fa-music"></i>Music</li>
                    <li><i class="fas fa-calendar-alt"></i> 15 Days</li>
                  </ul> -->
                </div>
                <h4><a href="#">Guitar Classes</a></h4>
                <p>
                  Learn to play the guitar with expert instruction, catering to
                  all skill levels from beginners to advanced players.
                </p>
                <div
                  class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4"
                >
                  <ul class="rating-list">
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star-o" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <a class="btn btn-style" href="/contact">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
            <div class="blog-card-single">
              <div class="grids5-info position-relative">
                <img src="/images/c3.jpg" alt="" class="img-fluid" />
              </div>
              <div class="content-main-top">
                <div class="content-top mb-4 mt-3">
                  <!-- <ul
                    class="list-unstyled d-flex align-items-center justify-content-between"
                  >
                    <li><i class="fas fa-music"></i>Music</li>
                    <li><i class="fas fa-calendar-alt"></i> 25 Days</li>
                  </ul> -->
                </div>
                <h4><a href="#">Drum Classes</a></h4>
                <p>
                  Discover rhythm and percussion with dynamic drum lessons
                  designed to enhance coordination, timing, and musicality.
                </p>
                <div
                  class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4"
                >
                  <ul class="rating-list">
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <a class="btn btn-style" href="/contact">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-md-5 mt-4">
            <div class="blog-card-single">
              <div class="grids5-info position-relative">
                <img src="/images/c4.jpg" alt="" class="img-fluid" />
              </div>
              <div class="content-main-top">
                <div class="content-top mb-4 mt-3">
                  <!-- <ul
                    class="list-unstyled d-flex align-items-center justify-content-between"
                  >
                    <li><i class="fas fa-music"></i>Music</li>
                    <li><i class="fas fa-calendar-alt"></i> 15 Days</li>
                  </ul> -->
                </div>
                <h4><a href="#">Violin Classes</a></h4>
                <p>
                  Explore the beauty of the violin with personalized lessons
                  focusing on technique, musical expression, and repertoire.
                </p>
                <div
                  class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4"
                >
                  <ul class="rating-list">
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <a class="btn btn-style" href="/contact">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-md-5 mt-4">
            <div class="blog-card-single">
              <div class="grids5-info position-relative">
                <img src="/images/c5.jpeg" alt="" class="img-fluid" />
              </div>
              <div class="content-main-top">
                <div class="content-top mb-4 mt-3">
                  <!-- <ul
                    class="list-unstyled d-flex align-items-center justify-content-between"
                  >
                    <li><i class="fas fa-music"></i>Music</li>
                    <li><i class="fas fa-calendar-alt"></i> 25 Days</li>
                  </ul> -->
                </div>
                <h4><a href="#">Electrical Pads</a></h4>
                <p>
                  Dive into the world of electronic music production with
                  specialized courses in creating beats, melodies, and
                  soundscapes using digital pad controllers.
                </p>
                <div
                  class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4"
                >
                  <ul class="rating-list">
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star-o" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <a class="btn btn-style" href="/contact">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
            <div class="blog-card-single">
              <div class="grids5-info position-relative">
                <img src="/images/c6.jpg" alt="" class="img-fluid" />
              </div>
              <div class="content-main-top">
                <div class="content-top mb-4 mt-3">
                  <!-- <ul
                    class="list-unstyled d-flex align-items-center justify-content-between"
                  >
                    <li><i class="fas fa-music"></i>Music</li>
                    <li><i class="fas fa-calendar-alt"></i> 35 Days</li>
                  </ul> -->
                </div>
                <h4><a href="#">Karnatic & Western Singing</a></h4>
                <p>
                  Develop vocal proficiency in both Karnatic and Western singing
                  traditions through structured training emphasizing tone,
                  range, dynamics, and performance skills.
                </p>
                <div
                  class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4"
                >
                  <ul class="rating-list">
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#rate"
                        ><i class="fas fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <a class="btn btn-style" href="/contact">Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //classes section -->

    <!-- button with content section -->
    <%- include('./ejs-partials/call-to-action') %>
    <!-- //button with content section -->

    <!-- footer -->
    <%- include('./ejs-partials/footer') %>
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>

    <!-- common jquery plugin -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/theme-change.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <!-- MENU-JS -->
    <script>
      $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
          $("#site-header").addClass("nav-fixed");
        } else {
          $("#site-header").removeClass("nav-fixed");
        }
      });

      //Main navigation Active Class Add Remove
      $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
      });
      $(document).on("ready", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
        $(window).on("resize", function () {
          if ($(window).width() > 991) {
            $("header").removeClass("active");
          }
        });
      });
    </script>
    <!-- //MENU-JS -->
  </body>
</html>
