<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dummy.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
  </head>

  <body>
    <!--Header-->
    <%- include('./ejs-partials/header') %>
    <!--Header-->

    <!--Banner-->
    <%- include('./ejs-partials/breadcumbs', {path:"Contact Us"}) %>
    <!--Banner-->

    <!-- contact block -->
    <section class="w3l-contact py-5" id="contact">
      <div class="container py-md-5 py-4">
        <h3 class="title-style text-center mb-5">Contact <span>Us</span></h3>
        <div class="row contact-block">
          <div
            id="flash-messages"
            class="fade-out<% if (!messages || messages.length === 0) { %> hidden<% } %>"
          >
            <% if (messages && messages.length > 0) { %>
            <div class="alert alert-success" role="alert">
              <%= messages[0] %>
              <!-- Display the first (and only) message -->
            </div>
            <% } %>
          </div>
          <div
            class="col-md-7 contact-right mx-auto mx-sm-0 mx-md-auto mx-lg-auto mx-xl-auto"
          >
            <form action="/contact" method="post" class="contact-form">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    name="name"
                    id="w3lName"
                    placeholder="Your Name"
                    class="form-control p-3"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <input
                    type="number"
                    name="number"
                    id="number"
                    placeholder="Mobile Number"
                    class="form-control p-3"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="email"
                    name="email"
                    id="w3lSender"
                    placeholder="Your Email"
                    class="form-control p-3"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <select
                    class="form-select p-3 border-0 form-control"
                    name="classes"
                    required
                  >
                    <option value="Type Of Service" selected>
                      Select Class
                    </option>
                    <option value="Guitar">Guitar Class</option>
                    <option value="Violin">Violin Class</option>
                    <option value="Piano">Piano Class</option>
                    <option value="Drum">Drum Class</option>
                    <option value="Electric Pad">Electric Pad Class</option>
                    <option value="Karnatic & Vocal Singing">
                      Karnatic & Vocal Singing
                    </option>
                  </select>
                </div>
              </div>
              <div class="mb-3">
                <textarea
                  name="message"
                  id="w3lMessage"
                  placeholder="Type your message here"
                  class="form-control p-3"
                  required
                ></textarea>
              </div>
              <div class="text-start">
                <div class="text-center mt-auto">
                  <button
                    type="submit"
                    class="btn btn-primary custom-button"
                    style="background-color: grey"
                  >
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5 ps-lg-5 mt-md-0 mt-5">
            <div class="contact-left">
              <div class="cont-details">
                <div class="d-flex contact-grid">
                  <div class="cont-left text-center me-3">
                    <i class="fas fa-building"></i>
                  </div>
                  <div class="cont-right">
                    <h6>Company Address</h6>
                    <p>
                      8-3-224/1A Kamala Residency, Yousufguda, Yousufguda,
                      Hyderabad - 500045 (Opp. Play Baby Toys & Sports, Near
                      Metro Piller No C 1496)
                    </p>
                  </div>
                </div>
                <div class="d-flex contact-grid mt-4 pt-lg-2">
                  <div class="cont-left text-center me-3">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="cont-right">
                    <h6>Call Us</h6>
                    <p><a href="tel:+919618696630">+91 9618696630</a></p>
                  </div>
                </div>
                <div class="d-flex contact-grid mt-4 pt-lg-2">
                  <div class="cont-left text-center me-3">
                    <i class="fas fa-envelope-open-text"></i>
                  </div>
                  <div class="cont-right">
                    <h6>Email Us</h6>
                    <p>
                      <a href="mailto:gopigokari30@gmail.com" class="mail"
                        >gopigokari30@gmail.com</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="whatsapp&callbutton">
      <a
        href="https://wa.me/9618696630"
        target="_blank"
        class="whatsapp-button"
      >
        <img
          src="/images/Digital_Stacked_Green.png"
          alt="WhatsApp"
          width="50px"
        />
      </a>
    </div>
    <!-- map -->
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4826156151075!2d78.43163397389284!3d17.436599983459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91f6e0a89593%3A0x10009c6bd8611197!2sSidda%20Musical%20Academy!5e0!3m2!1sen!2sin!4v1709791875941!5m2!1sen!2sin"
        width="100%"
        height="400"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <!-- //contact block -->
    <!-- footer -->
    <footer class="w3l-footer9">
      <div class="footer-inner-main py-5">
        <div class="container pt-lg-5 pt-md-4 pt-2 pb-2">
          <div class="row">
            <div class="col-lg-4 sub-one-left pe-lg-5">
              <h6>About</h6>
              <p class="footer-phny">
                At Sidda Musical Academy, we are passionate about nurturing
                musical talent and providing a platform for individuals to
                explore their creativity and express themselves through music.
              </p>
              <div class="columns-2 mt-lg-5 mt-4">
                <ul class="social" style="padding-left: 0px">
                  <li>
                    <a href="https://www.instagram.com/awing_records/"
                      ><span class="fab fa-instagram"></span
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/channel/UC1aTjtvHA3AoDJM_P-qDjTg"
                      ><span class="fab fa-youtube"></span
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-6 sub-two-right mt-lg-0 mt-5">
              <h6>Links</h6>
              <ul style="padding-left: 0px">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Blog Posts</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>

            <div class="col-lg-4 sub-one-left mt-lg-0 mt-5">
              <h6>Address</h6>
              <ul style="padding-left: 0px">
                <li class="w3address-holder-grids">
                  <div class="w3address-text">
                    <p>
                      8-3-224/1A Kamala Residency, Yousufguda, Yousufguda,
                      Hyderabad - 500045 (Opp. Play Baby Toys & Sports, Near
                      Metro Piller No C 1496)
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="copyright-footer mt-lg-5 mt-sm-4 mt-2 text-center">
            <p class="copy-text">
              &copy; 2024 Sidda Musical Acadamy. All rights reserved. Design by
              <a href="https://WWW.ibharatmedia.com" target="_blank">
                I BHARAT Media</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- //footer -->

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
