<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/css/style-starter.css" />
  </head>

  <body>
    <!-- top header -->
    <%- include('./ejs-partials/top-header') %>
    <!-- //top header -->

    <!-- header -->
    <header id="site-header" class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="index.html">
            <!-- <i class="fas fa-music me-1"></i>Sidda Musical Acadamy -->
            <img src="/images/logo/Logo.png" alt="Logo" style="height: 50px" />
            <span style="color: #9b3b41">SIDDA</span>
            <span style="color: #fbe4a2">Musical Academy</span>
          </a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/classes">Classes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
          </div>
          <!-- toggle switch for light and dark theme -->
          <!-- <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div> -->
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
    <!-- //header -->

    <!-- banner section -->
    <%- include('./ejs-partials/breadcumbs', {path:"Contact US"}) %>
    <!-- //about section -->

    <!-- contact block -->
    <section class="w3l-contact py-5" id="contact">
      <div class="container py-md-5 py-4">
        <h3 class="title-style text-center mb-5">Contact <span>Us</span></h3>
        <div class="row contact-block">
          <div class="col-md-7 contact-right">
            <form action="" method="post" class="signin-form">
              <div class="input-grids">
                <div class="row">
                  <div class="col-sm-6">
                    <input
                      type="text"
                      name="w3lName"
                      id="w3lName"
                      placeholder="Your Name"
                      class="contact-input"
                      required=""
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="email"
                      name="w3lSender"
                      id="w3lSender"
                      placeholder="Your Email"
                      class="contact-input"
                      required=""
                    />
                  </div>
                </div>
                <input
                  type="number"
                  name="number"
                  id="number"
                  placeholder="Mobile Number"
                  class="contact-input"
                  required
                />
                <div class="mb-4">
                  <select
                    class="form-control selection form-select p-3 border-0"
                    name="service"
                  >
                    <option value="Type Of Service" class="">
                      Select Instrument You Want To Learn
                    </option>
                    <option value="Guitar">Guitar Class</option>
                    <option value="Violin">Violin Class</option>
                    <option value="Piano">Piano Class</option>
                    <option value="Drum">Drum Class</option>
                    <option value="Electric Pad">Electric Pad Class</option>
                    <option value="Karnatic & Vocal Singing">
                      Karnatic & Vocal Singing
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-input">
                <textarea
                  name="w3lMessage"
                  id="w3lMessage"
                  placeholder="Type your message here"
                  required=""
                ></textarea>
              </div>
              <div class="text-start">
                <button class="btn btn-style btn-style-3">Send Message</button>
              </div>
            </form>
          </div>
          <div class="col-md-5 ps-lg-5 mt-md-0 mt-5">
            <div class="contact-left">
              <div class="cont-details">
                <div class="d-flex contact-grid">
                  <div class="cont-left text-center me-3">
                    <i class="fas fa-building"></i>
                  </div>
                  <div class="cont-right">
                    <h6>Company Address</h6>
                    <p>
                      8-3-224/1A Kamala Residency, Yousufguda, Yousufguda,
                      Hyderabad - 500045 (Opp. Play Baby Toys & Sports, Near
                      Metro Piller No C 1496)
                    </p>
                  </div>
                </div>
                <div class="d-flex contact-grid mt-4 pt-lg-2">
                  <div class="cont-left text-center me-3">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="cont-right">
                    <h6>Call Us</h6>
                    <p><a href="tel:+919618696630">+91 9618696630</a></p>
                  </div>
                </div>
                <div class="d-flex contact-grid mt-4 pt-lg-2">
                  <div class="cont-left text-center me-3">
                    <i class="fas fa-envelope-open-text"></i>
                  </div>
                  <div class="cont-right">
                    <h6>Email Us</h6>
                    <p>
                      <a href="mailto:gopigokari30@gmail.com" class="mail"
                        >gopigokari30@gmail.com</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- map -->
    <div class="map">
      <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2spl!4v1562654563739!5m2!1sen!2spl"
        width="100%"
        height="400"
        frameborder="0"
        style="border: 0px"
        allowfullscreen=""
      ></iframe> -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d256.9519745916162!2d78.43404736167034!3d17.436497351170118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91f6e0a89593%3A0x10009c6bd8611197!2sSidda%20Musical%20Academy!5e0!3m2!1sen!2sin!4v1709621661714!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <!-- //contact block -->

    <!-- footer -->
    <%- include('./ejs-partials/footer') %>
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>

    <!-- common jquery plugin -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/theme-change.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script>
      $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
          $("#site-header").addClass("nav-fixed");
        } else {
          $("#site-header").removeClass("nav-fixed");
        }
      });

      //Main navigation Active Class Add Remove
      $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
      });
      $(document).on("ready", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
        $(window).on("resize", function () {
          if ($(window).width() > 991) {
            $("header").removeClass("active");
          }
        });
      });
    </script>
  </body>
</html>
