<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dummy.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
  </head>

  <body>
    <!--Header-->
    <%- include('./ejs-partials/header') %>
    <!--Header-->

    <!-- inner banner -->
    <%- include('./ejs-partials/breadcumbs',{path:"Drum Class"}) %>
    <!-- //inner banner -->

    <div class="instrument_content_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <iframe
              width="100%"
              height="315"
              src="https://www.youtube.com/embed/ANeBrncHAJE?rel=0&modestbranding=1"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-lg-6">
            <p>
              Introducing <strong>Drum Roll course</strong>, where students at
              Sidda Musical Academy delve into mastering the fundamentals of
              beats and fills. Enrolled participants will gain valuable exposure
              to establishing a strong foundation in drumming techniques.
            </p>
            <p>
              we believe that rhythm is the heartbeat of music, and our drum
              courses are designed to help you discover your groove and unleash
              your musical potential.
            </p>
            <p>
              Join us as we unveil our Drum Course, crafted to ignite your
              passion for rhythm and elevate your drumming skills to new
              heights. Whether you're a novice or aiming to refine your
              abilities, our comprehensive curriculum guarantees that you'll
              discover your groove and march to the beat of your own drum.
            </p>
          </div>
        </div>
        <div class="row">
          <h3>What We Offer:</h3>
          <ul>
            <li>
              Our drum courses are meticulously crafted to cater to drummers of
              all levels, from novices to those seeking to fine-tune their
              skills. Whether you’re drawn to the pulse of rock, the syncopation
              of jazz, the groove of funk, or the fiery rhythms of Latin
              percussion, our comprehensive curriculum awaits you.
            </li>
            <li>
              Practice and learn in a comfortable and inspiring environment. Our
              academy boasts top-notch drumming resources, including practice
              rooms and cutting-edge equipment.
            </li>
            <li>
              They provide personalized guidance, constructive feedback, and
              tips to help you unleash your rhythmic potential.
            </li>
            <li>
              Our instructors are seasoned professionals with years of
              experience performing and teaching drums. They'll provide
              personalized instruction tailored to your skill level and musical
              goals.
            </li>
          </ul>
          <ul>
            <strong
              >core objectives and desired outcomes of our courses at Sidda
              Musical Academy:</strong
            >
            <li>
              In our drum classes, students at Sidda Musical Academy (Music
              Beats and Melodies Academy) will embark on an exciting journey
              through the rhythmic world of percussion.
            </li>
            <li>
              Gain insight into various parts of the drum kit. From the
              thunderous bass drum to the shimmering cymbals, students will
              discover the heartbeat of music.
            </li>
            <li>
              Students will receive exposure to staff notation, clefs, time
              signatures, and bar lines. Understanding these musical symbols is
              essential for reading drum music.
            </li>
            <li>
              Dive into the world of drumming techniques. Learn the various
              strokes—from crisp snare hits to booming bass drum kicks.
            </li>
            <li>
              Master essential rudiments—those rhythmic patterns that form the
              backbone of drumming.
            </li>
            <li>
              Our drum mentors will lead students through a series of exercises.
              These drills enhance coordination, speed, and creativity.
            </li>
          </ul>
          <p>
            Explore different grooves—from rock to funk to jazz. Feel the rhythm
            and let your sticks dance!
          </p>
          <p>
            Our expert instructors will guide students in holding the drumsticks
            with precision. A solid grip ensures control and unleashes the
            drumming magic.
          </p>
          <em
            >At Sidda Musical Academy, we’re not just teaching drumming; we’re
            nurturing musicians who will create beats that resonate with the
            soul. Let’s drum up some magic!</em
          >
        </div>
        <div class="enroll-now">
          <div class="text-center mt-auto">
            <a href="/contact" class="custom-button"> Enroll Now </a>
          </div>
        </div>
      </div>
    </div>
    <div class="whatsapp&callbutton">
        <a
          href="https://wa.me/9618696630"
          target="_blank"
          class="whatsapp-button"
        >
          <img
            src="/images/Digital_Stacked_Green.png"
            alt="WhatsApp"
            width="50px"
          />
        </a>
      </div>
    <!-- footer -->
    <%- include('./ejs-partials/footer') %>
    <!-- //footer -->

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
