<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dummy.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
  </head>

  <body>
    <!--Header-->
    <%- include('./ejs-partials/header') %>
    <!--Header-->

    <!-- inner banner -->
    <%- include('./ejs-partials/breadcumbs',{path:"Electrical Pad Class"}) %>
    <!-- //inner banner -->

    <div class="instrument_content_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <iframe
              width="100%"
              height="315"
              src="https://www.youtube.com/embed/ANeBrncHAJE?rel=0&modestbranding=1"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-lg-6">
            <p>
              <strong>Welcome to Sidda Musicals</strong> where the intersection
              of technology and music takes center stage in our innovative
              Musical Electronic Pads classes. Unleash your creative potential,
              learn the intricacies of electronic music production, and explore
              the boundless possibilities these cutting-edge pads offer.
            </p>
            <h3>Why Choose Our Musical Electronic Pads Classes:</h3>
            <p>
              <strong>Expert Instruction:</strong> Our classes are led by
              experienced instructors who are not only skilled musicians but
              also experts in the realm of electronic music production. Learn
              from professionals who understand the nuances of blending
              technology with musical expression.
            </p>
          </div>
        </div>
        <div class="row">
          <p>
            <strong>Hands-On Learning:</strong> Dive into the world of musical
            electronic pads through hands-on, interactive learning experiences.
            Explore the features and functionalities of the latest pads,
            understand how to integrate them into your music, and gain practical
            skills that you can immediately apply.
          </p>
          <p>
            <strong>Customized Curriculum:</strong> Whether you're a beginner or
            an experienced producer, our classes offer a customized curriculum
            tailored to your skill level and interests. From basic pad
            functionalities to advanced production techniques, we cover it all.
          </p>
          <p>
            <strong>State-of-the-Art Facilities:</strong> Immerse yourself in a
            creative environment equipped with state-of-the-art facilities.
            Experience the latest musical electronic pads in action and harness
            their capabilities to craft your unique sound.
          </p>
          <h3>Our Musical Electronic Pads Class Offerings:</h3>
          <p>
            <strong>Introduction to Electronic Music Production:</strong>
            Perfect for beginners, this class covers the basics of electronic
            music production, introducing you to the fundamental features of
            musical electronic pads and their role in creating electronic music.
          </p>
          <p>
            <strong>Advanced Pad Techniques:</strong> For those looking to take
            their skills to the next level, our advanced classes delve into
            intricate pad techniques, live performance strategies, and advanced
            production methods.
          </p>
          <p>
            <strong>Sound Design and Synthesis:</strong> Understand the art of
            sound design and synthesis using electronic pads. Learn how to
            sculpt and create unique sounds that define your musical style.
          </p>
          <p>
            <strong>Live Performance Workshops:</strong> Elevate your live
            performances with our live performance workshops. Explore how to
            integrate musical electronic pads seamlessly into your stage setup
            for an immersive and dynamic performance.
          </p>
          <h3>Join Sidda Musicals and Experience:</h3>
          <p>
            <strong>Collaborative Learning:</strong> Engage with a community of
            like-minded individuals, fostering collaboration and inspiration
            within our creative space.
          </p>
          <p>
            <strong>Access to Industry Tools:</strong> Gain exclusive access to
            industry-standard software and hardware, providing you with a
            hands-on experience with the latest music production technologies.
          </p>
          <p>
            <strong>Performance Opportunities:</strong> Showcase your newfound
            skills in live performances and community events, providing a
            platform to share your electronic music creations.
          </p>
          <p>
            Embark on a journey of musical innovation with
            <strong>Sidda Musicals</strong> Enroll in our Musical Electronic
            Pads classes today and discover the limitless possibilities of
            combining technology with your passion for music.
          </p>
        </div>
        <div class="enroll-now">
          <div class="text-center mt-auto">
            <a href="/contact" class="custom-button"> Enroll Now </a>
          </div>
        </div>
      </div>
    </div>
    <div class="whatsapp&callbutton">
      <a
        href="https://wa.me/9618696630"
        target="_blank"
        class="whatsapp-button"
      >
        <img
          src="/images/Digital_Stacked_Green.png"
          alt="WhatsApp"
          width="50px"
        />
      </a>
    </div>
    <!-- footer -->
    <%- include('./ejs-partials/footer') %>
    <!-- //footer -->

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
