<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dummy.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
  </head>

  <body>
    <!--Header-->
    <%- include('./ejs-partials/header') %>
    <!--Header-->

    <!-- inner banner -->
    <%- include('./ejs-partials/breadcumbs',{path:"Guitar Class"}) %>
    <!-- //inner banner -->

    <div class="instrument_content_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <iframe
              width="100%"
              height="315"
              src="https://www.youtube.com/embed/ANeBrncHAJE?rel=0&modestbranding=1"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-lg-6">
            <p>
              At Sidda Musical Academy Our academy is committed to fostering
              your love for music and guiding you on your journey to becoming a
              proficient guitarist. Whether you’re taking your first steps in
              the world of guitar or seeking to refine your current abilities,
              our classes are tailored to meet the needs of students at every
              level. Let’s strum, pick, and create beautiful melodies together!
            </p>
            <p>
              Students have access to a wide range of instruments available at
              the academy, so all they need to do is show up and start learning
              their chosen instrument.
            </p>
            <h3>Guitar Basics with Sidda Musical Academy</h3>
            <p>
              We recognize that every student has unique learning abilities,
              which is why our tailored guitar lessons empower individuals to
              delve deeper into their musical journey. From understanding
              fundamentals to honing advanced techniques, our classes are
              designed to identify and rectify flaws, ensuring swift progress.
            </p>
          </div>
        </div>
        <div class="row">
          <h3>The Complete Beginners Guide:</h3>
          <ul>
            This course breaks down guitar learning step by step:
            <li>
              <strong>Anatomy of the Guitar:</strong> Understand the different
              parts of the guitar.
            </li>
            <li><strong>Tuning:</strong> Learn how to tune your guitar.</li>
            <li>
              <strong>Reading Chord Boxes and Tab: </strong>Understand common
              signs and symbols.
            </li>
            <li>
              <strong>Riffs, Chords, and Scales:</strong>Cover a mix of songs
              and styles.
            </li>
          </ul>
          <p>
            Our guitar classes are structured to provide a comprehensive
            learning experience. From basic techniques to advanced concepts, we
            cover it all while ensuring that the pace of learning suits each
            student.
          </p>
          <p>
            <strong>Expert Instructors:</strong> Learn from the best! Our
            instructors bring years of experience and expertise to the table.
            They'll provide personalized guidance, constructive feedback, and
            tips to help you reach your full potential.
          </p>
          <p>
            <strong>Flexible Scheduling:</strong> We understand that everyone
            has different schedules and commitments. That's why we offer
            flexible scheduling options, including weekday and weekend classes,
            to accommodate your busy lifestyle
          </p>
          <p>
            Our academy boasts cutting-edge facilities, creating the perfect
            backdrop for your musical journey. From cozy practice rooms to
            top-notch resources, we’ve got it all.
          </p>
          <em>Join us at Sidda Musical Academy, where music comes alive!</em>
        </div>
        <div class="enroll-now">
          <div class="text-center mt-auto">
            <a href="/contact" class="custom-button"> Enroll Now </a>
          </div>
        </div>
      </div>
    </div>
    <div class="whatsapp&callbutton">
      <a
        href="https://wa.me/9618696630"
        target="_blank"
        class="whatsapp-button"
      >
        <img
          src="/images/Digital_Stacked_Green.png"
          alt="WhatsApp"
          width="50px"
        />
      </a>
    </div>
    <!-- footer -->
    <%- include('./ejs-partials/footer') %>
    <!-- //footer -->

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
