<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dummy.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
  </head>

  <body>
    <!--Header-->
    <%- include('./ejs-partials/header') %>
    <!--Header-->
    <section class="hero_section py-5">
      <div class="container-fluid py-4">
        <div class="row align-items-center">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
            <section
              id="slider"
              class="carousel slide"
              data-bs-ride="carousel"
              data-bs-touch="true"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <!-- <img
                    class="d-block w-100"
                    src="./assets/images/slider/slider-1.jpg"
                    alt=""
                  /> -->

                  <h1>SIDDA <br />Musical Academy</h1>
                  <!-- <a href="#" class="btn btn-style mt-5"> Watch Video &rarr;</a> -->
                </div>
                <div class="carousel-item">
                  <h1>Learn <br />Music Instruments</h1>
                  <!-- <a href="#" class="btn btn-style mt-5"> Watch Video &rarr;</a> -->
                </div>
                <div class="carousel-item">
                  <h1>Music for Every one</h1>
                  <!-- <a href="#" class="btn btn-style mt-5"> Watch Video &rarr;</a> -->
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#slider"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#slider"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon"></span>
              </button>
            </section>
          </div>
          <!--end of the text slider col-->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
            <a href="#" onclick="lightbox_open();">
              <img
                src="/images/hero_section/music-border-2.png"
                class="img-fluid hero-image"
                style="height: 500px"
              />
            </a>
          </div>
          <a href="#" onclick="lightbox_open();"> </a>
        </div>
        <!-- <div class="border2">
          <img
            src="./assets/images/herosection/music-border-2.png"
            alt=""
            style="height: 200px"
          />
        </div> -->
      </div>
    </section>

    <section class="w3l-about py-5" id="about">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
          <div class="col-lg-6 section-width pe-xl-5 pt-lg-4">
            <h2 class="title-style">
              About <span>SIDDA Musical Acadamy</span>
            </h2>
            <p class="mt-4">
              At Sidda Musical Academy, we are passionate about nurturing
              musical talent and providing a platform for individuals to explore
              their creativity and express themselves through music. Founded
              with a vision to inspire and empower aspiring musicians, our
              academy offers comprehensive training in a variety of musical
              instruments including guitar, drum, electric pad, violin, and
              piano.
            </p>

            <a href="#" class="btn btn-style mt-5">
              Know more about us &rarr;</a
            >
          </div>
          <div class="col-lg-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
            <div class="position-relative img-border">
              <img
                src="/images/hero_section/about.png"
                class="img-fluid radius-image"
                alt="video-popup"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="w4l-courses py-5">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center py-3">
            <h2 class="display-6 fw-bold">Music Courses</h2>
          </div>
          <!--end of the frist col-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-2">
            <a href="#">
              <div class="shadow-lg p-3 w4l-course-card">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="/images/icons/icons8-guitar-96.png" />
                  </div>
                  <div class="px-3 mt-2">
                    <h2 class="display-6 fs-5 text-dark">Guitar</h2>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--end of the first col-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-2">
            <a href="#">
              <div class="shadow-lg p-3 w4l-course-card">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="/images/icons/drum-set.png" width="92px" />
                  </div>
                  <div class="px-3 mt-2">
                    <h2 class="display-6 fs-5 text-dark">Drum</h2>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--end of the second col-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-2">
            <a href="#">
              <div class="shadow-lg p-3 w4l-course-card">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="/images/icons/electrical-pad.png" width="92px" />
                  </div>
                  <div class="px-3 mt-2">
                    <h2 class="display-6 fs-5 text-dark">Electrical Pads</h2>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--end of the third col-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-2">
            <a href="#">
              <div class="shadow-lg p-3 w4l-course-card">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="/images/icons/violin.png" width="92px" />
                  </div>
                  <div class="px-3 mt-2">
                    <h3 class="display-6 fs-5 text-dark">Violin</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--end of the fourth col-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-2">
            <a href="#">
              <div class="shadow-lg p-3 w4l-course-card">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="/images/icons/piano.png" width="92px" />
                  </div>
                  <div class="px-3 mt-2">
                    <h2 class="display-6 fs-5 text-dark">Piano</h2>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--end of the fidth col-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-2">
            <a href="#">
              <div class="shadow-lg p-3 w4l-course-card">
                <div class="d-flex align-items-center">
                  <div>
                    <img
                      src="/images/icons/vocal_staffnotation.png"
                      width="92px"
                      height="92px"
                    />
                  </div>
                  <div class="px-3 mt-2">
                    <h2 class="display-6 fs-5 text-dark">
                      Vocal & Staff notation
                    </h2>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--end of the sixth col-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-2">
            <a href="#">
              <div class="shadow-lg p-3 w4l-course-card">
                <div class="d-flex align-items-center">
                  <div>
                    <img
                      src="/images/icons/karnatic_westernsinging.png"
                      width="92px"
                    />
                  </div>
                  <div class="px-3 mt-2">
                    <h2 class="display-6 fs-5 text-dark">
                      Karnatic & Western Singing
                    </h2>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="w5l-whyblock py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <img
              src="/images/learn/IMG_0825.JPG"
              alt=""
              class="img-fluid radius-image"
            />
          </div>
          <div class="col-lg-6 ps-xl-5 ps-lg-4 mt-lg-0 mt-5">
            <h3 class="title-style mb-4">
              Enroll in our <span>Musical classes </span> today!
            </h3>
            <p>
              Begin your musical adventure with Sidda Musical Academy. Our
              expert instructors and comprehensive curriculum provide the
              perfect foundation for aspiring musicians of all levels. Join us
              today and start your journey towards musical excellence!
            </p>
            <div class="two-grids mt-5">
              <div class="grids_info">
                <i class="fas fa-user"></i>
                <div class="detail">
                  <h4>Personalized Learning Experience:</h4>
                  <p>
                    Each student receives personalized attention and instruction
                    tailored to their individual learning style and musical
                    goals.
                  </p>
                </div>
              </div>
              <div class="grids_info mt-xl-5 mt-4">
                <i class="fas fa-music"></i>

                <div class="detail">
                  <h4>Performance Opportunities:</h4>
                  <p>
                    We offer regular performance opportunities for our students
                    to showcase their progress and talents in front of a
                    supportive audience.
                  </p>
                </div>
              </div>
              <div class="grids_info mt-xl-5 mt-4">
                <i class="fas fa-chalkboard-teacher"></i>

                <div class="detail">
                  <h4>Highly experienced and acclaimed faculty</h4>
                  <p>
                    Benefit from the unparalleled expertise and recognition of
                    our distinguished faculty, ensuring top-notch musical
                    education and mentorship.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="youtubeModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeYouTubeModal()">&times;</span>
        <div id="player"></div>
      </div>
    </div>
    <div class="whatsapp&callbutton">
      <a
        href="https://wa.me/9618696630"
        target="_blank"
        class="whatsapp-button"
      >
        <img
          src="/images/Digital_Stacked_Green.png"
          alt="WhatsApp"
          width="50px"
        />
      </a>
    </div>
    <!-- footer -->
    <%- include('./ejs-partials/footer') %>

    <!-- //footer -->

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/ytplayer.js"></script>
  </body>
</html>
