<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dummy.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
  </head>

  <body>
    <!--Header-->
    <%- include('./ejs-partials/header') %>
    <!--Header-->

    <!-- inner banner -->
    <%- include('./ejs-partials/breadcumbs',{path:"Karnatic & Western Singing"})
    %>
    <!-- //inner banner -->

    <div class="instrument_content_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <iframe
              width="100%"
              height="315"
              src="https://www.youtube.com/embed/UCdRlzIihOI?si=A9lS--bBoHW0bLHe&rel=0&modestbranding=1"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-lg-6">
            <p>
              <strong>Welcome to Sidda musicals:</strong> Where Melodies Come
              Alive!
            </p>

            <p>
              At Sidda musicals, we believe that music transcends boundaries and
              touches the soul. Our mission is to nurture aspiring singers,
              guiding them on their musicals journey with passion, precision,
              and creativity. Whether you’re a beginner or an experienced
              vocalist, our Western singing training programs cater to all
              levels.
            </p>
          </div>
        </div>
        <div class="row">
          <h3>Why Choose Sidda musicals?</h3>
          <p>
            <strong>Expert Faculty:</strong> Our team of qualified maestros,
            both from India and abroad, bring a wealth of knowledge and
            expertise. They create a conducive environment for learners,
            ensuring individual attention and personalized guidance.
          </p>
          <p>
            <strong>Internationally Benchmarked Curriculum:</strong> Sidda
            musicals follows an internationally benchmarked curriculum. We
            explore various vocal styles of Western music, including pop, rock,
            jazz, and more.
          </p>
          <p>
            <strong>Range, Tone, and Style:</strong> Expand your vocal
            capabilities with us. From hitting the right notes to perfecting
            your tone and style, our courses cover it all.
          </p>
          <p>
            <strong>Performance Opportunities:</strong> We encourage stage
            performances and music workshops. Gain confidence and sharpen your
            vocal skills while expressing your artistic flair.
          </p>
          <h3>Our Western Singing Courses:</h3>
          <ul>
            <strong>Foundation Level (6-8 Months):</strong>
            <li>Develop a strong singing foundation.</li>
            <li>
              Learn breath management, effective posture, and vocal warm-ups.
            </li>
            <li>Understand basic terms used in Western music.</li>
            <li>Explore major scales, rhythm, and melodies.</li>
          </ul>
          <ul>
            <strong>Intermediate Levels:</strong>
            <li>
              Dive deeper into scales, improvisation, and voice modulation.
            </li>
            <li>
              Harmonize, explore different vocal registers, and work on tone
              placement.
            </li>
            <li>Perform on our digital stage and showcase your talent.</li>
          </ul>
          <ul>
            <strong>Advanced Levels:</strong>
            <li>
              Master advanced scales, 7th chords, and diminished chord
              formations.
            </li>
            <li>
              Get opportunities for solo YouTube performances and live recitals.
            </li>
            <li>Compete globally and make your mark in the music world.</li>
            <li>Online and Offline Learning Options:</li>
            <li>
              We understand that convenience matters. Sidda musicals offers
              Western vocal music courses at our centers Whether you’re in
              Karmali or anywhere else, we’ve got you covered.
            </li>
          </ul>
          <em>Join us at Sidda musicals and let your voice soar!</em>
        </div>
        <div class="enroll-now">
          <div class="text-center mt-auto">
            <a href="/contact" class="custom-button"> Enroll Now </a>
          </div>
        </div>
      </div>
    </div>
    <div class="whatsapp&callbutton">
        <a
          href="https://wa.me/9618696630"
          target="_blank"
          class="whatsapp-button"
        >
          <img
            src="/images/Digital_Stacked_Green.png"
            alt="WhatsApp"
            width="50px"
          />
        </a>
      </div>
    <!-- footer -->
    <%- include('./ejs-partials/footer') %>
    <!-- //footer -->

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
