<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidda Musical Acadamy</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
    rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dummy.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
  </head>

  <body>
    <!--Header-->
    <%- include('./ejs-partials/header') %>
    <!--Header-->

    <!-- inner banner -->
    <%- include('./ejs-partials/breadcumbs',{path:"Violin Class"}) %>
    <!-- //inner banner -->

    <div class="instrument_content_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <iframe
              width="100%"
              height="315"
              src="https://www.youtube.com/embed/ANeBrncHAJE?rel=0&modestbranding=1"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-lg-6">
            <p>
              <strong>Welcome to Sidda Musicals</strong> where the enchanting
              world of violin music comes alive through our expertly crafted
              violin classes. Whether you're a beginner with a desire to learn
              or an experienced player seeking to refine your skills, our
              comprehensive and personalized lessons cater to all levels of
              expertise.
            </p>
            <h3>Why Choose Our Violin Classes:</h3>
            <p>
              <strong>Experienced Instructors:</strong> Our violin classes are
              led by seasoned instructors who are not only skilled performers
              but also passionate educators. Benefit from their expertise as
              they guide you through the intricacies of violin playing with
              patience and enthusiasm.
            </p>
          </div>
        </div>
        <div class="row">
          <p>
            <strong>Tailored Curriculum:</strong> We understand that each
            student is unique, and our classes reflect this understanding. Our
            curriculum is meticulously designed to cater to different skill
            levels, ensuring that you progress at a pace that suits your
            individual learning style and goals.
          </p>
          <p>
            <strong>Comprehensive Learning:</strong> From mastering the
            fundamentals of holding the bow and producing your first notes to
            advanced techniques and repertoire, our violin classes cover a broad
            spectrum. We nurture a holistic approach to music education,
            incorporating theory, ear training, and performance skills.
          </p>
          <p>
            <strong>Flexible Learning Options:</strong> Life can be hectic, and
            we get that. That's why we offer flexible learning options,
            including in-person and online violin classes. Whether you prefer
            the traditional classroom setting or the convenience of virtual
            lessons, we've got you covered.
          </p>
          <h3>Our Violin Class Offerings:</h3>
          <p>
            <strong>Beginner Classes:</strong> Lay the foundation for your
            musical journey with our beginner violin classes. Learn proper
            technique, basic music theory, and get hands-on experience with your
            instrument
          </p>
          <p>
            <strong>Intermediate Classes:</strong> For those looking to advance
            their skills, our intermediate classes delve deeper into violin
            mastery. Explore more complex pieces, refine your technique, and
            develop a deeper musical understanding.
          </p>
          <p>
            <strong>Advanced Classes:</strong> Elevate your playing to the next
            level with our advanced violin classes. Perfect for experienced
            players, these classes focus on advanced techniques, interpretation,
            and performance skills.
          </p>
          <p>
            <strong>Specialty Workshops:</strong> Enrich your learning
            experience with our specialty workshops, covering topics such as
            music composition, ensemble playing, and stage presence.
          </p>
          <h3>Join Sidda Musicals and Experience:</h3>
          <p>
            <strong>Performance Opportunities:</strong> Showcase your progress
            in recitals, concerts, and community events, fostering confidence
            and stage presence.
          </p>
          <p>
            <strong>Community Engagement:</strong> Connect with a community of
            passionate musicians, creating a supportive network that enhances
            your musical journey.
          </p>
          <p>
            <strong>Continuous Growth:</strong> Our commitment to your musical
            growth goes beyond the classroom. Benefit from ongoing support,
            resources, and personalized feedback to ensure continuous
            improvement.
          </p>
          <p>
            Embark on a musical adventure with
            <strong>Sidda Musicals</strong> Enroll in our violin classes today
            and let the captivating sounds of the violin become a part of your
            expressive journey in music.
          </p>
        </div>
        <div class="enroll-now">
          <div class="text-center mt-auto">
            <a href="/contact" class="custom-button"> Enroll Now </a>
          </div>
        </div>
      </div>
    </div>
    <div class="whatsapp&callbutton">
      <a
        href="https://wa.me/9618696630"
        target="_blank"
        class="whatsapp-button"
      >
        <img
          src="/images/Digital_Stacked_Green.png"
          alt="WhatsApp"
          width="50px"
        />
      </a>
    </div>
    <!-- footer -->
    <%- include('./ejs-partials/footer') %>
    <!-- //footer -->

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
