<section class="w3l-about py-5" id="about">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="row align-items-center">
      <div class="col-lg-6 section-width pe-xl-5 pt-lg-4">
        <h3 class="title-style">
          Welcome to <span>SIDDA Musical Academy</span>
        </h3>
        <p class="mt-4">
          At Sidda Musical Academy, we are passionate about nurturing musical
          talent and providing a platform for individuals to explore their
          creativity and express themselves through music. Founded with a vision
          to inspire and empower aspiring musicians, our academy offers
          comprehensive training in a variety of musical instruments including
          guitar, drum, electric pad, violin, and piano.
        </p>

        <a href="/about" class="btn btn-style mt-5"> Know more about us</a>
      </div>
      <div class="col-lg-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
        <div class="position-relative img-border">
          <img
            src="/images/about/about1.jpg"
            class="img-fluid radius-image"
            alt="video-popup"
          />
        </div>
      </div>
    </div>
  </div>
</section>
