<footer class="w3l-footer9">
  <div class="footer-inner-main py-5">
    <div class="container pt-lg-5 pt-md-4 pt-2 pb-2">
      <div class="row">
        <div class="col-lg-4 sub-one-left pe-lg-5">
          <h6>About</h6>
          <p class="footer-phny">
            At Sidda Musical Academy, we are passionate about nurturing musical
            talent and providing a platform for individuals to explore their
            creativity and express themselves through music.
          </p>
          <div class="columns-2 mt-lg-5 mt-4">
            <ul class="social">
              <li>
                <a href="https://www.instagram.com/awing_records/"
                  ><span class="fab fa-instagram"></span
                ></a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UC1aTjtvHA3AoDJM_P-qDjTg"
                  ><span class="fab fa-youtube"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-6 sub-two-right mt-lg-0 mt-5">
          <h6>Links</h6>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Classes</a></li>
            <li><a href="#">Blog Posts</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 sub-two-right mt-lg-0 mt-5">
          <h6>Explore</h6>
          <ul>
            <li><a href="/contact">Guitar Class</a></li>
            <li><a href="/contact">Piano Class</a></li>
            <li><a href="/contact">Violin Class</a></li>
            <li><a href="/contact">Electrical Pad</a></li>
            <li><a href="/contact">Drum Class</a></li>
            <li><a href="/contact">Karnatic & Western Singing Classes</a></li>
          </ul>
        </div>
        <div class="col-lg-4 sub-one-left mt-lg-0 mt-5">
          <h6>Address</h6>
          <ul>
            <li class="w3tweet-holder-grids">
              <div class="w3-twitter-icon"><i class="fa fa-building"></i></div>
              <div class="w3tweet-text">
                <p>
                  8-3-224/1A Kamala Residency, Yousufguda, Yousufguda, Hyderabad
                  - 500045 (Opp. Play Baby Toys & Sports, Near Metro Piller No C
                  1496)
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright-footer mt-lg-5 mt-sm-4 mt-2 text-center">
        <p class="copy-text">
          &copy; 2024 Sidda Musical Acadamy. All rights reserved. Design by
          <a
            href="https://w3layouts.com/"
            target="_blank"
            style="color: rgb(19, 19, 19)"
          >
            W3Layouts</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
