<footer class="w3l-footer9">
  <div class="footer-inner-main py-5">
    <div class="container pt-lg-5 pt-md-4 pt-2 pb-2">
      <div class="row">
        <div class="col-lg-4 sub-one-left pe-lg-5">
          <h6>About</h6>
          <p class="footer-phny">
            At Sidda Musical Academy, we are passionate about nurturing musical
            talent and providing a platform for individuals to explore their
            creativity and express themselves through music.
          </p>
          <div class="columns-2 mt-lg-5 mt-4">
            <ul class="social" style="padding-left: 0px">
              <li>
                <a href="https://www.instagram.com/awing_records/"
                  ><span class="fab fa-instagram"></span
                ></a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UC1aTjtvHA3AoDJM_P-qDjTg"
                  ><span class="fab fa-youtube"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-6 sub-two-right mt-lg-0 mt-5">
          <h6>Links</h6>
          <ul style="padding-left: 0px">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="#">Blog Posts</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-4 sub-one-left mt-lg-0 mt-5">
          <h6>Address</h6>
          <ul style="padding-left: 0px">
            <li class="w3address-holder-grids">
              <div class="w3address-text">
                <p>
                  8-3-224/1A Kamala Residency, Yousufguda, Yousufguda, Hyderabad
                  - 500045 (Opp. Play Baby Toys & Sports, Near Metro Piller No C
                  1496)
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright-footer mt-lg-5 mt-sm-4 mt-2 text-center">
        <p class="copy-text">
          &copy; 2024 Sidda Musical Acadamy. All rights reserved. Developed by
          <a href="https://WWW.ibharatmedia.com" target="_blank">
            I BHARAT Media</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
