<section class="w3l-top-header">
  <div class="container">
    <div
      class="top-content-w3ls d-flex align-items-center justify-content-between"
    >
      <div class="top-headers">
        <ul>
          <li>
            <i class="fa fa-phone"></i
            ><a href="tel:+919618696630">+91 9618696630</a>
          </li>
          <li class="me-0">
            <i class="fa fa-envelope"></i
            ><a href="mailto:mail@example.com">gopigokari30@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="top-headers top-headers-2">
        <ul>
          <li>
            <a href="https://www.instagram.com/awing_records/"
              ><span class="fab fa-instagram"></span
            ></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC1aTjtvHA3AoDJM_P-qDjTg"
              ><span class="fab fa-youtube"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
